#NODE RED API
NODE_RED_API=""
# This should be the same as the one above, only difference is that the first is server-side, second is client-side
NEXT_PUBLIC_NODE_RED_API=""
API_USERNAME=""
API_PASSWORD=""
#GRAFANA
NEXT_PUBLIC_GRAFANA_URL=""